Repository AndreiLobanovich/actionsTest, changes with the labels that .github/labeler.yml gives for each.
All labels: label1, label2, readme, docs

Create md.md
  md.md
Labels: docs

Update labeler.yml
  .github/workflows/labeler.yml
Labels: none

Update md.md
  md.md
Labels: docs

Update md.md
  md.md
Labels: docs

Create anotherMD.md
  test/anotherMD.md
Labels: label1, docs

Update labeler.yml
  .github/workflows/labeler.yml
Labels: none

Update labeler.yml
  .github/workflows/labeler.yml
Labels: none

Update md.md
  md.md
Labels: docs

Create anotherMD.md
  test/anotherMD.md
Labels: label1, docs

Update labeler.yml
  .github/workflows/labeler.yml
Labels: none

Delete labeler.yml
  .github/workflows/labeler.yml
Labels: none

changes
  README.md
  test/anotherMD.md
Labels: label1, readme, docs

Update anotherMD.md
  test/anotherMD.md
Labels: label1, docs

Update md.md
  md.md
Labels: docs

.github/labeler.yml:

label1:
- 'test/**'
label2:
- 'test1/*'
readme:
- 'README.md'
docs:
- '**/*.md'
